.skills {
  margin: 0 auto;
  max-width: 1200px;
  padding: 100px 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "title title"
    "dev test";
  gap: 0;
}

.skills__title {
  grid-area: title;
}

.skills__dev {
  grid-area: dev;
}

.skills__test {
  grid-area: test;
}

.skills-decor {
  display: flex;
  flex-direction: column;
  gap: 15px;

  list-style-type: none;
  font-size: 24px;

  text-align: center;
  justify-self: center;

  overflow: hidden;
  white-space: nowrap;
  animation: typing 5.5s steps(55, end), blink-caret 0.5s step-end infinite;
}

.skills-decor h3 {
  margin-bottom: 15px;
}

.skill {
  white-space: break-spaces;
}
