.swiper {
  position: relative;
  max-width: 700px;
  width: 100%;
  height: 490px;
}

.swiper-slide {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);
  user-select: none;
  border-radius: 20px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}


@media (max-width: 1050px) {
  .swiper {
    width: 350px;
    height: 450px;
  }
}

@media (max-width: 930px) {


  .swiper {
    grid-area: slider;
  }

}

@media (max-width: 470px) {

  .swiper {
    width: 300px;
    height: 400px;
  }
}

