@import url("./style/toogle.css");
@import url("./style/header.css");
@import url("./style/skills.css");
@import url("./style/animation.css");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: aliceblue;
}

body {
  background-color: black;
  font-family: monospace;
  color: white;
}

.dark-theme {
  background-color: #a4ac86;
}

.dark-theme a {
  color: black;
}

#theme-toggle {
  height: 60px;
  width: 30px;
  position: fixed;
  top: 50vh;
  right: 0;
  cursor: pointer;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.dark-theme .work__example-block a {
  color: #fff;
}

.main-container {
  /* color: #fff; */
  text-align: center;
}

.about {
  margin: 0 auto;
  padding: 100px 0;
  background-image: url("./img/mount.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;

  color: white;
}

.about__title {
  text-transform: uppercase;
  margin: 0 0 30px;
  letter-spacing: 1px;
}

.about__title + img {
  width: 170px;
  border-radius: 50%;
}

.about__someword {
  font-size: 22px;
  max-width: 650px;
  margin: 30px auto;
  letter-spacing: 1px;
}

.work {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 50px;
  background-color: rgba(2, 2, 2, 0.904);
}

.work__title {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.work__example-block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px;
  grid-auto-rows: 1fr;
  row-gap: 50px;
}

.work__front {
  grid-column: 1 / span 3;
}

.work__test {
  grid-column: 1 / span 3;
}

.work__example img {
  padding-bottom: 15px;
  width: 75%;
  border-radius: 30px;
  transition: all 0.8s ease;
}

.work__example img:hover {
  transform: scale(1.1);
}

.work__example_testing {
  grid-column: span 3;
  display: flex;
}

.work__example_testing img {
  width: 70%;
}

.certificate {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.certificate__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
}

.certificate__group img {
  width: 30%;
}

@media (max-width: 769px) {
  .active_menu {
    display: flex;
    position: absolute;
    transition: line-height 0.5s, color 0.5s;
    line-height: 1.2;
  }


}
