@import url("./style/toogle.css");
@import url("./style/header.css");
@import url("./style/skills.css");
@import url("./style/animation.css");
@import url("./style/work.css");
@import url("./style/swiper.css");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: aliceblue;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: black;
  font-family: monospace;
  color: white;
}

.dark-theme {
  background-color: #a4ac86;
}

.dark-theme a {
  color: black;
}

#theme-toggle {
  height: 60px;
  width: 30px;
  position: fixed;
  top: 50vh;
  right: 0;
  cursor: pointer;
}

.dark-theme a {
  color: #fff;
}

.main-container {
  text-align: center;
}

.about {
  margin: 0 auto;
  padding: 100px 0;
  background-image: url("./img/mount.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #000;

  color: white;
}

@media (max-width: 767px) {
  .about{
    background-attachment:local;
  }
}

.about__title {
  text-transform: uppercase;
  margin: 0 0 30px;
  letter-spacing: 1px;
}

.about__title + img {
  width: 170px;
  border-radius: 50%;
}

.about__someword {
  font-size: 22px;
  max-width: 650px;
  margin: 30px auto;
  letter-spacing: 1px;
}



.certificate {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.certificate__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
}

.certificate__group img {
  width: 30%;
}

@media (max-width: 769px) {
  .active_menu {
    display: flex;
    position: absolute;
    transition: line-height 0.5s, color 0.5s;
    line-height: 1.2;
  }


}
